@CHARSET "ISO-8859-1";

.navbar-inverse {
	background-color: #003;
	border-color: #080808
}

.navbar-inverse .navbar-brand {
	color: #FFF
}

.navbar-inverse .navbar-text {
	color: #FFF
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFF
}



.navbar-inverse .navbar-nav {
	color: #FFF;
	background-color: #003;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover,
	.navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #003
}



.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus
	{
	background-color: #003
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	color: #fff;
	border-color: #003;
	background-color: #003
	
}

.navbar-inverse .btn-link {
	color: #fff
}



.btn-primary {
	color: #fff;
	background-color: #003;
	border-color: #357ebd
}

.grid-view table.items th{
	background: #003;
}
